{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Curious Learner and Data Enthusiast.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am an engineer turned data analyst, driven by an unquenchable thirst for knowledge and growth. My journey led me to the challenging path of civil service exam preparation, where initial setbacks transformed into unwavering determination. I've embraced the canvas with the finesse of Madhubani painting and the world through daily newspaper readings. As an advocate for agriculture, I believe it to be a cherished profession.</p>
        <p>With a team-player spirit, I relentlessly pursue targets, reflecting my belief that time is money. The blend of my engineering background and data enthusiasm fuels my analytical approach. Failures have molded me, and hard work has fortified my character. My aspirations remain grounded in the values of administration and good governance. Through dedication, art, and analytical prowess, I'm on a journey to make every moment count.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}